# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Entorno virtual
.venv/
venv/
env/

# pytest y cobertura
.pytest_cache/
.coverage
htmlcov/
coverage.xml

# Caché del paquete
~/.my_cache/
.my_cache/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# IDEs
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store

# Distribución
dist/
*.whl